:root {
  --primary-background-color: #CAF0F8;
  --secondary-background-color: #90E0EF;
  --font-color: #03045E;
  --font-color-transparent: rgba(3, 4, 94, 0.5);
  --primary-accent-color: #00B4D8;
  --secondary-accent-color: #0077B6;
}

@font-face {
  font-family: 'spaceCruiser'; /* Choose a unique name for your font */
  src: url('../fonts/Spacec5l.ttf') format('truetype'); /* Path to your .ttf file */
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--font-color);
  font-family: 'spaceCruiser';
  background-color: var(--primary-accent-color); 
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 3rem);
  padding: 1rem;
}

.section-top {
  background:var(--primary-accent-color);
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section-middle {
  background:var(--primary-accent-color);
  flex: 1; 
  display: flex;
}

.section-bottom {
  display: flex;
  background:var(--primary-accent-color);
  height: 3rem; 
  justify-content: center;
  align-items: center;
}

.middle-left {
  flex: 1;
  border-right: 2px solid;
}

.middle-right {
  flex: 1;
  border-left: 2px solid;
}

.middle-left__grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columns */
  grid-template-rows: repeat(10, 1fr); /* 10 rows */
  gap: 2px; /* Adjust the gap between grid cells as needed */
  width: 36rem;
  height: 36rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.middle-right__grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columns */
  grid-template-rows: repeat(10, 1fr); /* 10 rows */
  gap: 2px; /* Adjust the gap between grid cells as needed */
  width: 36rem;
  height: 36rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.grid-container__grid-left-cell {
  background-color: var(--secondary-accent-color); /* Set your desired background color */
  border: 1px solid #000; /* Add borders to cells for separation (optional) */
  cursor: pointer;
}

.grid-container__grid-left-cell--placed {
  background-color: var(--font-color); /* Set your desired background color */
  border: 1px solid #000; /* Add borders to cells for separation (optional) */
  cursor: pointer;
}

.grid-container__grid-right-cell {
  background-color: var(--secondary-accent-color); /* Set your desired background color */
  border: 1px solid #000; /* Add borders to cells for separation (optional) */
}

p {
  font-family: 'spaceCruiser';
  color: var(--font-color);
}

.player-one {
  align-self: flex-end;
  text-align: center;
  flex: 1;
}

.player-one__name {
  padding-left: 12rem;
}

.top-heading {
  text-align: center;
  font-size: 3rem;
  flex: 1;
  margin: 0;
}

.player-two {
  align-self: flex-end;
  text-align: center;
  flex: 1;
}

.player-two__name {
  padding-right: 12rem;
}

.grid-container__grid-cell--placed {
  background-color: var(--font-color) !important; /* Set your desired background color */
  border: 1px solid #000; /* Add borders to cells for separation (optional) */
  cursor: pointer;
}


/* Pop up */
.popup-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 999; /* Ensure the pop-up is above other elements */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup {
  background-color: var(--primary-background-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  /* custom */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popup__header__heading {
  font-size: 2.5rem;
}

.popup__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.player-name--textbox{
  border: 0.2rem solid var(--font-color);
  color: var(--font-color);
}

.player-name--textbox:focus {
  border-color: var(--primary-accent-color);
}

.body__grid__heading {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.popup__body__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.body__heading__btn-xy-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Toggle switch */
.btn-xy-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.btn-xy-toggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-accent-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--font-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--secondary-accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Toggle Switch */

.popup__body__grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columns */
  grid-template-rows: repeat(10, 1fr); /* 10 rows */
  gap: 2px; /* Adjust the gap between grid cells as needed */
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.popup__body__grid-cell {
  background-color: var(--secondary-accent-color); /* Set your desired background color */
  border: 1px solid #000; /* Add borders to cells for separation (optional) */
  cursor: pointer;
}

.popup__body__grid-cell--placed {
  background-color: var(--font-color-transparent); /* Set your desired background color */
  border: 1px solid #000; /* Add borders to cells for separation (optional) */
  cursor: pointer;
}

.popup__footer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

button {
  color: var(--font-color);
  background-color: var(--primary-accent-color);
  border: 0.2rem solid var(--font-color);
}

button:hover {
  color: var(--primary-accent-color);
  background-color: var(--font-color);
  border: 0.2rem solid var(--primary-accent-color);
}